@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: italic;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 100%;
  min-width: 1440px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  background-color: #ffffff;
  color: #444444;
  box-sizing: border-box;
}

.main-container {
  flex-grow: 1;
}

.page-header {
  position: relative;
  margin: 0 auto;
  padding-top: 40px;
  color: #000000;
  background-color: #ffffff;
  box-sizing: border-box;
}

.header-link {
  display: block;
  width: 145px;
  height: 36px;
  position: absolute;
  content: "";
  left: 60px;
  margin-top: -20px;
  z-index: 1;
}

.header-link:hover {
  opacity: 60%;
}

.header-link:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.header-link:active {
  opacity: 30%;
}

.navigation {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 45px;
  width: 1160px;
  padding: 46px 60px 35px;
  margin: 0 auto;
  background-color: #ffe17f;
  box-sizing: border-box;
}

.navigation-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 1040px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin-block: 0;
  padding-inline: 0;
  list-style-type: none;
  align-items: center;
  box-sizing: border-box;
}

.navigation-delivery,
.navigation-in {
  width: 1040px;
}

.navigation-list:first-child {
  margin-right: auto;
}

.button {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-align: center;
  letter-spacing: 0.2em;
  color: #000000;
  background-color: transparent;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  padding: 10px 5px;
  box-sizing: border-box;
}

.item-form {
  width: 517px;
  margin-right: 27px;
  box-sizing: border-box;
}

.navigation-form {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr auto;
}

.field {
  display: inline-block;
  width: 357px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding: 8px 20px 8px 48px;
  margin: 0;
  background-color: inherit;
  border: 2px solid #000000;
  border-radius: 50px 0 0 50px;
  border-right-width: 1px;
  box-sizing: border-box;
}

.field:focus-visible {
  outline: 0;
}

.field:disabled {
  opacity: 30%;
}

.navigation-label {
  display: block;
  position: relative;
  width: fit-content;
}

.navigation-label:focus-within::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.navigation-label::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  top: 12px;
  left: 16px;
  background-image: url("../images/icon/icon_search.svg");
  background-repeat: no-repeat;
}

.search-button {
  position: relative;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  width: 160px;
  margin: 0;
  padding: 8px 54px;
  box-sizing: border-box;
  background-color: transparent;
  border: 2px solid #000000;
  border-left-width: 1px;
  border-radius: 0 50px 50px 0;
  text-transform: none;
  letter-spacing: normal;
}

.search-button:hover {
  background-color: #000000;
  color: #ffffff;
  border: none;
}

.search-button:focus-visible {
  outline: 0;
}

.search-button:focus-visible::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border: none;
  outline: 2px solid #af4fff;
  outline-offset: 4px;
}

.search-button:active {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.3);
  outline: 2px solid #000000;
  outline-offset: -2px;
}

.search-button:disabled {
  opacity: 30%;
}

.link-in {
  min-width: 81px;
  padding-left: 27px;
  box-sizing: border-box;
}

.link-rating {
  width: 105px;
  padding-left: 22px;
  margin-right: 36px;
  box-sizing: border-box;
}

.link-basket {
  width: 99px;
  padding-left: 25px;
  box-sizing: border-box;
}

.about-catalog {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
  width: 293px;
  margin-right: 276px;
}

.navigation-open-button {
  position: absolute;
  content: "";
  display: block;
  padding: 0;
  top: -15px;
  left: 243px;
  right: 0;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: 2px solid #000000;
  opacity: 30%;
  border-radius: 50%;
  background-image: url("../images/icon/icon_plus.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  z-index: 2;
}

.navigation-close-button {
  position: absolute;
  padding: 0;
  top: -15px;
  left: 243px;
  right: 0;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: 2px solid #000000;
  opacity: 30%;
  border-radius: 50%;
  background-image: url("../images/icon/icon_minus.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  z-index: 2;
  display: none;
}

/* Класс добавляется к кнопке при открытии каталога в шапке страницы и удаляется при нажатии на кнопку, для закрытия этого каталога.
.navigation-close-button {
  display: block;
}*/

.about-catalog:hover {
  opacity: 1;
}

.about-catalog:hover .navigation-open-button {
  opacity: 1;
}

.about-catalog:hover .catalog-open {
  z-index: 1;
}

.about-catalog:focus-within {
  outline: 2px solid #af4fff;
  outline-offset: 17px;
  z-index: 1;
}

.about-catalog:active {
  opacity: 1;
  z-index: 1;
  outline: 2px solid #af4fff;
  outline-offset: 17px;
}

.about-about {
  width: 125px;
  margin-right: 47px;
  z-index: 1;
}

.about-warranty {
  width: 121px;
  margin-right: 50px;
  z-index: 1;
}

.about-contacts {
  width: 128px;
  z-index: 1;
}

.about-active {
  position: relative;
}

.about-active::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #000000;
  display: none;
}

.navigation-catalog {
  list-style-type: none;
  padding: 0;
}

.catalog-container {
  position: absolute;
  content: "";
  top: 20px;
  left: -60px;
  display: flex;
  width: 1160px;
  min-height: 180px;
  background-color: #ffe17f;
  padding: 33px 425px 27px 60px;
  box-sizing: border-box;
}

.catalog-open {
  z-index: -1;
}

.catalog-left {
  width: 222px;
  margin-right: 30px;
}

.catalog-middle,
.catalog-right {
  width: 211px;
}

.navigation-card {
  margin-bottom: 22px;
}

.navigation-link {
  display: block;
  position: relative;
  color: inherit;
  text-decoration: none;
}

.navigation-link:hover {
  opacity: 60%;
}

.navigation-link:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.navigation-link:active {
  opacity: 30%;
}

.navigation-icon {
  position: absolute;
  content: "";
}

.icon-human {
  left: 1px;
  right: auto;
  top: 9px;
}

.icon-rating {
  left: 1px;
  right: auto;
  top: 9px;
}

.icon-basket {
  left: -3px;
  right: auto;
  top: 6px;
}

.quantity-basket {
  position: absolute;
  content: "";
  font-size: 14px;
  line-height: 17px;
  width: 21px;
  height: 21px;
  padding: 2px 4px;
  top: 5px;
  left: -18px;
  text-align: center;
  background-color: #ffffff;
  color: #000000;
  border-radius: 50%;
  box-sizing: border-box;
}

.link-about {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.link-first:hover {
  opacity: 1;
}

.link-first:focus-visible {
  outline: 0;
}

.link-card {
  font-size: 16px;
  line-height: 18px;
}

.card-active {
  position: relative;
}

.card-active::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #000000;
  display: none;
}

.link-card:hover {
  opacity: 60%;
}

.link-card:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.link-card:active {
  opacity: 30%;
}

.main-index {
  background-color: #ffffff;
  min-width: 1440px;
  margin-top: -38px;
}

.page-container {
  min-width: 1160px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.hero {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  width: 1160px;
  margin: 0 auto;
  background-image: linear-gradient(#ffe17f 27%, #ffffff 27%);
}

.bracelet-open,
.monopod-open,
.foto-bracelet,
.foto-monopod {
  display: none;
}

.slider-gallery,
.slider-about {
  width: 560px;
}

.slider-wrapper {
  position: relative;
}

.slider-controls {
  position: absolute;
  width: 530px;
  top: 211px;
  left: 30px;
  display: flex;
  justify-content: space-between;
}

.foto-quadrocopter {
  display: block;
  position: relative;
}

.slider-foto {
  display: block;
}

.slider-button {
  width: 20px;
  height: 60px;
  color: #000000;
  background-color: transparent;
  border: none;
  cursor: pointer;
  background-image: url("../images/icon/icon_arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.slider-prev {
  transform: rotate(180deg);
}

.slider-button:hover {
  opacity: 60%;
}

.slider-button:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.slider-button:active {
  opacity: 30%;
}

.slider-button:disabled {
  opacity: 10%;
}

.slider-pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-block: 0;
  padding-inline: 0;
  list-style-type: none;
  line-height: 0;
  box-sizing: border-box;
}

.slider-pagination-item:not(.slider-pagination-item:last-child) {
  margin: 0 20px 0 0;
}

.slider-pagination-button {
  position: relative;
  width: 12px;
  height: 12px;
  margin: 0;
  padding-inline: 0;
  cursor: pointer;
  background-color: #ffffff;
  border: 2px solid #000000;
  border-radius: 50%;
}

.slider-pagination-button:hover {
  opacity: 60%;
}

.slider-pagination-button:focus-visible {
  outline: 0;
}

.slider-pagination-button:focus-visible::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border: none;
  outline: 2px solid #af4fff;
  outline-offset: 4px;
}

.slider-pagination-button:active {
  opacity: 30%;
}

.slider-pagination-button:disabled {
  opacity: 10%;
}

.slider-pagination-button-current {
  background-color: #000000;
}

.slider-buttons {
  position: absolute;
  top: 100%;
  width: 100%;
  transform: translateY(-100%);
}

.slider-about {
  width: 560px;
  min-height: 401px;
  padding: 121px 15px 38px 0;
  box-sizing: border-box;
}

.slider-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 29px;
  width: 560px;
  text-align: left;
  list-style-type: none;
  margin-block: 0;
  margin-bottom: 29px;
  padding-inline: 0;
  box-sizing: border-box;
}

.quadrocopter-open {
  background-image: url("../images/slider/icon_01.svg");
  background-repeat: no-repeat;
  background-size: 250px 135px;
  background-position: top 30px right 34px;
}

.bracelet-open {
  background-image: url("../images/slider/icon_02.svg");
  background-repeat: no-repeat;
  background-size: 250px 135px;
  background-position: top 27px right 34px;
}

.monopod-open {
  background-image: url("../images/slider/icon_03.svg");
  background-repeat: no-repeat;
  background-size: 250px 135px;
  background-position: top 27px right 30px;
}

.title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  text-align: left;
  color: #000000;
  margin: 0;
  padding: 0;
}

.slider-title {
  width: 545px;
  min-height: 100px;
  margin-block: 0;
}

.slider-description {
  width: 560px;
  min-height: 60px;
  margin-block: 0;
  padding: 0;
}

.quadrocopter-button {
  display: block;
  width: 220px;
  padding: 21px 0;
}

.button-slider-about {
  display: flex;
  width: 220px;
  padding: 10px 5px;
  box-sizing: border-box;
  align-self: center;
}

.button-slider-text {
  display: inline-block;
  width: 210px;
  position: relative;
  margin-block: 0;
  z-index: 0;
  box-sizing: border-box;
}

.button-slider-text::after {
  position: absolute;
  content: "";
  width: 220px;
  height: 8px;
  top: 0;
  bottom: 0;
  left: -5px;
  right: -5px;
  margin: auto;
  background-color: #ffe17f;
  z-index: -1;
}

.button-slider-about:hover {
  background-color: #ffe17f;
}

.button-slider-about:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.button-slider-about:active {
  background-color: #ffcc33;
}

.button-slider-about:active .button-slider-text::after {
  opacity: 0;
}

.button-slider-about:disabled {
  opacity: 30%;
}

.about-quadrocopter {
  margin-block: 0;
}

.list-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.slider-argument {
  font-size: 36px;
  line-height: 30px;
  color: #000000;
  margin-bottom: 12px;
}

.slider-comment {
  font-size: 16px;
  margin: 0;
  padding-inline: 0;
}

.catalog-main {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  background-color: #ffffff;
  text-align: left;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  width: 1160px;
  gap: 40px;
  margin: 0 auto;
  margin-block: 0;
  padding-inline: 0;
  list-style-type: none;
}

.catalog-card {
  display: flex;
  flex-direction: column;
  width: 160px;
  min-height: 253px;
}

.catalog-link {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 33px;
  text-decoration: none;
  color: #000000;
}

.catalog-link:hover .catalog-image {
  background-color: #ffc700;
}

.catalog-link:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.catalog-link:active {
  opacity: 30%;
}

.catalog-image {
  position: relative;
  width: 160px;
  height: 160px;
  background-color: #ffe17f;
  color: #363636;
}

.image-about {
  position: absolute;
  content: "";
}

.image-glasses,
.image-camera,
.image-bracelet,
.image-whatch,
.image-quadrocopter {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.image-monopod {
  top: auto;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.catalog-item {
  width: 160px;
  letter-spacing: -0.02em;
}

.advantages {
  width: 100%;
  min-height: 289px;
  margin: 102px 0 0 0;
  background-color: #f0f0f0;
  padding: 0;
  text-align: left;
  box-sizing: border-box;
}

.advantages-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 1160px;
  box-sizing: border-box;
  top: -102px;
  margin: 0 auto;
  margin-bottom: -102px;
}

.advantages-check {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-block: 0;
  padding-inline: 0;
  padding: 65px 0;
  width: 287px;
  box-sizing: border-box;
  list-style-type: none;
}

.advantages-name:not(.advantages-name:last-child) {
  margin-bottom: 35px;
}

.advantages-check::after {
  position: absolute;
  content: "";
  width: 7px;
  height: 319px;
  background-color: #000000;
  top: 0;
  left: 280px;
}

.advantages-button {
  width: 160px;
  background-color: transparent;
  padding: 10px 4px;
  box-sizing: border-box;
}

.advantages-button-text {
  position: relative;
  width: 153px;
  display: inline-block;
  margin-block: 0;
  padding: 0;
  z-index: 0;
}

.advantages-button-text::after {
  position: absolute;
  content: "";
  width: 160px;
  height: 8px;
  top: 0;
  bottom: 0;
  left: -4px;
  right: -4px;
  margin: auto;
  background-color: #ffe17f;
  z-index: -1;
}

.advantages-button:hover {
  background-color: #ffe17f;
}

.advantages-button:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.advantages-button:active {
  background-color: #ffcc33;
}

.advantages-button:active .advantages-button-text::after {
  opacity: 0;
}

.advantages-button:disabled {
  opacity: 30%;
}

.button-active {
  width: 280px;
  color: #ffe17f;
  background-color: #000000;
  padding: 9px 120px 11px 0;
}

.button-active .advantages-button-text::after {
  opacity: 0;
}

.button-active:hover {
  background-color: #000000;
  padding-left: 35px;
}

.button-active:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
  padding-left: 35px;
}

.button-active:active {
  background-color: #000000;
  padding-left: 35px;
}

.advantages-about {
  margin: 0;
  padding: 72px 203px 145px 116px;
  height: min-content;
  width: 873px;
  box-sizing: border-box;
  list-style-type: none;
  background-image: url("../images/icon_delivery_boy.png");
  background-repeat: no-repeat;
  background-size: 136px 164px;
  background-position: top 77px right 64px;
}

.advantages-item {
  width: 455px;
  display: flex;
  flex-direction: column;
  gap: 34px;
}

.advantages-title {
  margin-block: 0;
  padding: 0;
}

.advantages-description {
  padding: 0;
  margin-block: 0;
}

.advantages-credit {
  margin: 0;
  padding: 72px 203px 145px 116px;
  width: 873px;
  box-sizing: border-box;
  list-style-type: none;
  background-image: url("../images/icon_credit_boy.png");
  background-repeat: no-repeat;
  background-size: 136px 164px;
  background-position: top 73px right 66px;
}

.advantages-warranty {
  margin: 0;
  padding: 72px 203px 145px 116px;
  width: 873px;
  box-sizing: border-box;
  list-style-type: none;
  background-image: url("../images/icon_warranty.png");
  background-repeat: no-repeat;
  background-size: 136px 164px;
  background-position: top 73px right 66px;
}

.advantages-credit,
.advantages-warranty {
  display: none;
}

.about-shipping {
  display: block;
  background-color: #f0f0f0;
  color: #000000;
  text-align: center;
  width: 1160px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.button-shipping {
  display: flex;
  flex-wrap: wrap;
  background-color: #f0f0f0;
  width: 1160px;
  padding: 0;
  box-sizing: border-box;
}

.button-shipping:hover .shipping-picture {
  background-color: #ffc700;
}

.button-shipping:hover .information-icon {
  opacity: 1;
  fill: #000000;
}

.button-shipping:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.button-shipping:active {
  opacity: 30%;
}

.shipping-picture {
  width: 125px;
  min-height: 100px;
  background-color: #ffe17f;
  position: relative;
}

.shipping-icon {
  position: absolute;
  content: "";
  width: 47px;
  height: 31px;
  top: 35px;
  left: 39px;
}

.shipping-title {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  letter-spacing: 0.2em;
  font-size: 20px;
  line-height: 20px;
  width: 910px;
  padding: 40px 0;
  margin-block: 0;
  text-transform: uppercase;
  box-sizing: border-box;
}

.shipping-information {
  width: 125px;
  display: block;
  box-sizing: border-box;
}

.button-shipping-information {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 0;
  margin: 30px 43px;
  background-color: #dcdcdc;
  opacity: 50%;
}

.information-icon {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  opacity: 30%;
}

.about-shop {
  display: flex;
  flex-wrap: wrap;
  gap: 108px;
  width: 1160px;
  margin: 0 auto;
  background-color: #ffffff;
  text-align: left;
  padding-top: 47px;
  box-sizing: border-box;
}

.about-us {
  width: 520px;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.contacts {
  width: 532px;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.about-us::before,
.contacts::before {
  position: absolute;
  content: "";
  width: 84px;
  height: 7px;
  background-color: #000000;
  left: 0;
  top: -47px;
}

.about-title,
.contacts-title {
  margin-block: 0;
  margin-bottom: 48px;
}

.about-information {
  width: 497px;
  margin-bottom: 30px;
}

.about-delivery {
  margin-block: 0;
  padding-inline: 0;
  list-style-type: none;
}

.about-company-name {
  display: flex;
  flex-direction: column;
  gap: 19px;
  padding-inline: 0;
  margin: 30px 34px 30px 0;
  list-style-type: none;
  line-height: 20px;
}

.company-name-link {
  text-decoration: none;
  font-weight: 700;
  color: #000000;
}

.company-name-link:hover {
  opacity: 60%;
}

.company-name-link:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.company-name-link:active {
  opacity: 30%;
}

.about-company {
  position: relative;
  padding-left: 34px;
}

.about-company::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  top: 6px;
  left: 0;
  border-radius: 50%;
  background-color: #ffc700;
}

.button-about {
  width: 270px;
}

.button-text {
  display: inline-block;
  width: 258px;
  position: relative;
  margin-block: 0;
  padding: 0;
  z-index: 0;
}

.button-text::after {
  position: absolute;
  content: "";
  width: 270px;
  height: 8px;
  top: 0;
  bottom: 0;
  left: -6px;
  right: -6px;
  margin: auto;
  background-color: #ffe17f;
  z-index: -1;
}

.button-about:hover {
  background-color: #ffe17f;
}

.button-about:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.button-about:active {
  background-color: #ffcc33;
}

.button-about:active .button-text::after {
  opacity: 0;
}

.button-about:disabled {
  opacity: 30%;
}

.button-feedback {
  width: 259px;
}

.feedback-text {
  display: inline-block;
  width: 247px;
  position: relative;
  margin-block: 0;
  padding: 0;
  z-index: 0;
}

.feedback-text::after {
  position: absolute;
  content: "";
  width: 259px;
  height: 8px;
  top: 0;
  bottom: 0;
  left: -6px;
  right: -6px;
  margin: auto;
  background-color: #ffe17f;
  z-index: -1;
}

.button-feedback:hover {
  background-color: #ffe17f;
}

.button-feedback:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.button-feedback:active {
  background-color: #ffcc33;
}

.button-feedback:active .feedback-text::after {
  opacity: 0;
}

.button-feedback:disabled {
  opacity: 30%;
}

.contacts-information {
  width: 500px;
  margin-block: 0;
  margin: 0 0 30px;
}

.contacts-subtitle {
  font-weight: 700;
  font-size: 24px;
  margin-block: 0;
  margin-top: 0;
  margin-bottom: 15px;
}

.contacts-address {
  width: 515px;
  font-style: normal;
  margin-bottom: 30px;
}

.contacts-address-text {
  margin-block: 0;
  padding: 0;
}

.contacts-phone {
  color: inherit;
}

.contacts-phone:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.contacts-schedule {
  margin-block: 0;
  margin-bottom: 30px;
  padding-inline: 0;
  list-style-type: none;
}

.subscription {
  min-width: 1440px;
  padding-top: 64px;
  padding-bottom: 56px;
  background-color: #f0f0f0;
  text-align: left;
  box-sizing: border-box;
}

.subscription-container {
  display: flex;
  flex-wrap: wrap;
  width: 1160px;
  margin: 0 auto;
}

.subscription-title {
  width: 348px;
  padding-left: 6px;
  margin-block: 0;
  margin-bottom: 144px;
  box-sizing: border-box;
}

.subscription-description {
  width: 553px;
  text-align: left;
  margin-block: 0;
  margin: 10px 0 144px auto;
}

.subscription-form {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr auto;
}

.subscription-field {
  width: 557px;
  font-size: 18px;
  line-height: 30px;
  padding: 11px 20px 11px 16px;
  margin: 0;
  background-color: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 3px solid #c4c4c4;
}

.subscription-field:focus-visible {
  outline: none;
  background-color: #dcdcdc;
}

/* Класс добавляется к форме при некорректном введении информации.
.form-error {
  border-bottom: 3px solid #ff3d3d;
}*/

.subscription-button {
  width: 253px;
  margin: 0;
  padding: 15px 39px;
  box-sizing: border-box;
  background-color: transparent;
  border: 3px solid #c4c4c4;
}

.subscription-button:hover {
  background-color: #000000;
  color: #ffffff;
  border: none;
  outline: 2px solid #000000;
  outline-offset: -2px;
}

.subscription-button:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.subscription-button:active {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.3);
  border: none;
  outline: 2px solid #000000;
  outline-offset: -2px;
}

.subscription-button:disabled {
  opacity: 30%;
}

.subscription-correction {
  width: 160px;
  padding: 13px 0 14px 32px;
  margin-left: auto;
  margin-block: 0;
  text-align: right;
  box-sizing: border-box;
  background-image: url("../images/icon/icon_free.svg");
  background-repeat: no-repeat;
  background-size: 14px 14px;
  background-position: left center;
}

.page-footer {
  background-color: #444444;
  color: #ffffff;
  min-width: 1440px;
  box-sizing: border-box;
}

.footer-logo {
  min-height: 37px;
  line-height: 0;
}

.footer-site-logo {
  display: block;
  width: 145px;
  min-height: 37px;
  color: #ffc700;
  text-decoration: none;
}

.footer-site-logo:hover {
  opacity: 60%;
}

.footer-site-logo:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.footer-site-logo:active {
  opacity: 30%;
}

.page-footer-container {
  position: relative;
  width: 1160px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 35px;
  margin: 0 auto;
  padding: 62px 0 61px;
  box-sizing: border-box;
}

.page-footer-container::after {
  position: absolute;
  content: "";
  width: 80px;
  height: 7px;
  background-color: #ffc700;
  left: 0;
  bottom: 77px;
}

.chapter-container {
  display: flex;
  flex-wrap: wrap;
  width: 1160px;
}

.social-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 1160px;
  margin: 10px 0 0 0;
}

.footer-address-shop {
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  width: 240px;
  color: inherit;
  margin-right: 118px;
}

.footer-navigation {
  margin-top: 4px;
  margin-right: 183px;
}

.navigation-list-footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 444px;
  margin-block: 0;
  padding-inline: 0;
  list-style-type: none;
  letter-spacing: 0.2em;
}

.footer-phone {
  width: 175px;
}

.footer-contacts-phone {
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  color: inherit;
  margin-bottom: 63px;
}

.footer-contacts-phone:hover {
  color: #ffc700;
}

.footer-contacts-phone:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.footer-contacts-phone:active {
  color: #ffc700;
  opacity: 30%;
}

.link-footer {
  position: relative;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
}

.link-footer::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  top: 25px;
  left: 0;
  background-color: #444444;
}

.link-footer:hover {
  color: #ffc700;
}

.link-footer:hover::before {
  background-color: #ffc700;
}

.link-footer:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.link-footer:active {
  color: #ffc700;
  opacity: 30%;
}

.link-footer:active::before {
  background-color: #ffc700;
  opacity: 30%;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  width: 150px;
  margin-right: 390px;
  margin-left: 505px;
  padding-inline: 0;
  margin-block: 0;
  list-style-type: none;
}

.footer-social-link {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.3);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.footer-social-link:hover {
  background-color: #ffc700;
}

.footer-social-link:focus-visible {
  outline: none;
}

.footer-social-link:focus-visible::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border: none;
  outline: 2px solid #af4fff;
  outline-offset: 4px;
}

.footer-social-link:active {
  color: #ffc700;
  opacity: 30%;
}

.footer-icon {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  color: #444444;
}

.footer-copyright {
  min-height: 40px;
}

.footer-copyright-site {
  position: relative;
  display: block;
  width: 115px;
  min-height: 34px;
  margin: auto 0;
  color: #ffc700;
  text-decoration: none;
}

.footer-copyright-site:hover {
  color: #ffffff;
}

.footer-copyright-site:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.footer-copyright-site:active {
  color: #ffffff;
  opacity: 30%;
}

.footer-copyright-logo {
  position: absolute;
  content: "";
  width: 115px;
  height: 34px;
  top: 3px;
  bottom: 3px;
  left: 0;
  right: 0;
}

/*Поповер*/

.item-basket {
  position: relative;
}

.popover {
  position: absolute;
  top: 36px;
  right: -78px;
  z-index: 1;
  box-sizing: border-box;
  width: 320px;
  color: #ffffff;
  background-color: #000000;
  min-height: 301px;
  display: none;
}

.popover::before {
  position: absolute;
  content: "";
  background-image: url("../images/icon/icon_popover.svg");
  width: 14px;
  height: 6px;
  bottom: 100%;
  fill: #000000;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

/*Класс добавляется к поповеру при его открытии, которое происходит в момент нажатия на ссылку Корзины.
.popover-open {
  display: block;
  z-index: 2;
}*/

.popover-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.cart-items-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style-type: none;
  padding-inline: 0;
  box-sizing: border-box;
}

.cart-item {
  display: flex;
  flex-wrap: wrap;
  width: 320px;
  padding: 20px;
  box-sizing: border-box;
}

.popover-cart-link {
  display: flex;
  flex-wrap: wrap;
  width: 183px;
  gap: 23px;
  text-decoration: none;
  color: inherit;
}

.popover-cart-link:hover {
  opacity: 60%;
}

.popover-cart-link:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.popover-cart-link:active {
  opacity: 30%;
}

.popover-title {
  width: 121px;
  margin-block: 0;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.popover-close-button {
  position: relative;
  width: 11px;
  height: 11px;
  margin-left: auto;
  padding: 0;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #ffffff;
}

.popover-close-button:hover {
  opacity: 60%;
}

.popover-close-button:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.popover-close-button:active {
  opacity: 30%;
}

.cart-item-data {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  min-height: 44px;
  padding: 0 20px;
  background-color: #1a1a1a;
  font-size: 16px;
  line-height: 20px;
  box-sizing: border-box;
}

.data-number {
  width: 120px;
  text-align: start;
  margin: 12px 0;
}

.data-price {
  width: 150px;
  text-align: end;
  margin: 12px 0;
}

.button-popover {
  width: 280px;
  margin: 20px;
  padding: 14px 20px;
  box-sizing: border-box;
  background-color: #ffffff;
  color: #000000;
  text-transform: uppercase;
  cursor: pointer;
}

.button-popover:hover {
  background-color: #ffe17f;
}

.button-popover:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.button-popover:active {
  background-color: #ffe17f;
  color: rgba(0, 0, 0, 0.3);
}

.button-popover:disabled {
  opacity: 30%;
}

/*Модальное окно*/

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  background-color: rgba(240, 240, 240, 0.9);
  z-index: 3;
}

.modal {
  position: relative;
  margin: auto;
  padding: 72px 80px;
  background-color: #ffffff;
  box-sizing: border-box;
  bottom: auto;
}

.modal-container-close {
  display: none;
}

.modal-search {
  width: 920px;
  outline: 10px solid #000000;
  outline-offset: -10px;
  box-sizing: border-box;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 84px;
  right: 80px;
  width: 26px;
  height: 26px;
  background-color: inherit;
  border: none;
  background-image: url("../images/icon/icon_close.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
}

.modal-close-button:hover {
  opacity: 60%;
}

.modal-close-button:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 4px;
}

.modal-close-button:active {
  opacity: 30%;
}

.modal-title {
  margin-block: 0;
  margin-bottom: 42px;
}

.search-modal-form {
  display: flex;
  flex-wrap: wrap;
  width: 760px;
  flex-direction: column;
  gap: 42px;
  box-sizing: border-box;
}

.search-modal-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  box-sizing: border-box;
}

.field-group {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 360px;
}

.group-product {
  width: 540px;
}

.group-quantity {
  width: 180px;
}

.group-mail {
  position: relative;
}

.group-mail::after {
  position: absolute;
  content: "";
  width: 15px;
  height: 12px;
  top: 60px;
  right: 20px;
  background-image: url("../images/icon/icon_letter.svg");
}

.name-field {
  margin-bottom: 14px;
  letter-spacing: -0.02em;
}

.search-form-comment {
  font-weight: 400;
  font-size: 14px;
}

.modal-error {
  color: #ff3d3d;
}

.search-form-field {
  font-family: "Rubik", sans-serif;
  width: 360px;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  font-weight: 400;
  padding: 20px 40px 20px 20px;
  border: none;
  background-color: #f0f0f0;
  box-sizing: border-box;
  margin-block: 0;
}

.search-form-field:hover {
  background-color: #dcdcdc;
}

.search-form-field:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 4px;
}

.search-form-field:active {
  background-color: #ebebeb;
}

.search-form-field:disabled {
  background-color: #f0f0f0;
  opacity: 30%;
}

.field-error {
  border: 2px solid #ff3d3d;
}

.field-product {
  width: 540px;
}

.field-box {
  display: flex;
  flex-wrap: wrap;
}

.field-quantity {
  position: relative;
}

.field-button {
  position: relative;
  width: 60px;
  height: 60px;
  padding: 0;
  box-sizing: border-box;
  border: none;
  cursor: pointer;
}

.field-button:hover {
  opacity: 60%;
}

.field-button:focus-visible {
  background-color: #f0f0f0;
  outline: 2px solid #af4fff;
}

.field-button:active {
  opacity: 30%;
}

.field-button-form-field:disabled {
  background-color: #f0f0f0;
  opacity: 30%;
}

.icon-minus {
  position: absolute;
  content: "";
  width: 16px;
  height: 2px;
  top: 29px;
  bottom: 29px;
  left: 22px;
  right: 22px;
}

.icon-plus {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  top: 22px;
  bottom: 22px;
  left: 22px;
  right: 22px;
}

.field-number {
  width: 60px;
  height: 60px;
  padding: 0;
  box-sizing: border-box;
  border: none;
  text-align: center;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  background-color: #f0f0f0;
}

.field-number:hover {
  background-color: #dcdcdc;
}

.field-number:focus-visible {
  outline: 2px solid #af4fff;
  z-index: 1;
}

.field-number:active {
  background-color: #ebebeb;
}

.field-number:disabled {
  background-color: #f0f0f0;
  opacity: 30%;
}

.field-number::-webkit-outer-spin-button,
.field-number::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}

.search-form-button {
  width: 200px;
  padding: 10px 5px;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  cursor: pointer;
}

.search-button-text {
  display: inline-block;
  width: 190px;
  position: relative;
  margin-block: 0;
  padding: 0;
  z-index: 0;
}

.search-button-text::after {
  position: absolute;
  content: "";
  width: 200px;
  height: 8px;
  top: 0;
  bottom: 0;
  left: -5px;
  right: -5px;
  margin: auto;
  background-color: #ffe17f;
  z-index: -1;
}

.search-form-button:hover {
  background-color: #ffe17f;
}

.search-form-button:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.search-form-button:active {
  color: #ffc700;
  opacity: 30%;
}

/*Тултип*/

.tooltip {
  position: absolute;
  width: 26px;
  height: 26px;
  top: -3px;
  margin-left: 8px;
  border-radius: 50%;
  background-color: #ffe17f;
}

.tooltip-icon {
  position: absolute;
  width: 2px;
  height: 12px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.tooltip-toggle {
  border: none;
  background-color: transparent;
  display: block;
  margin: 0;
  padding: 0;
}

.tooltip-text {
  width: 200px;
  padding: 19px 17px 19px 19px;
  color: #ffffff;
  background-color: #000000;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  box-sizing: border-box;
  box-shadow: 0 10px 0 -1px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 100%;
  margin-top: 10px;
  left: 80%;
  transform: translateX(-80%);
  z-index: 1;
  display: none;
}

.tooltip-text::after {
  position: absolute;
  content: " ";
  background-image: url("../images/icon/icon_popover.svg");
  width: 14px;
  height: 6px;
  bottom: 100%;
  right: 41px;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

/*Каталог*/

.link-user {
  width: 146px;
  padding-left: 27px;
  margin-right: 28px;
  box-sizing: border-box;
}

.link-out {
  width: 56px;
  margin-right: 26px;
  opacity: 30%;
}

.main-inner {
  min-width: 1440px;
  padding-top: 35px;
  background-color: #ffffff;
}

.header-inner {
  width: 1160px;
  margin: 0 auto;
  box-sizing: border-box;
  padding-left: 60px;
  padding-bottom: 34px;
  background-color: #ffffff;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin-block: 0;
  padding-inline: 0;
  font-size: 16px;
  line-height: 105%;
  list-style-type: none;
}

.breadcrumbs-title {
  margin-bottom: 16px;
}

.breadcrumbs-item:not(.breadcrumbs-item:last-child) {
  position: relative;
  padding-right: 36px;
  list-style-type: none;
  box-sizing: border-box;
}

.breadcrumbs-item:not(.breadcrumbs-item:last-child)::after {
  position: absolute;
  content: "";
  width: 4px;
  height: 7px;
  top: 7px;
  right: 16px;
  background-image: url("../images/icon/icon_breadcrumbs.svg");
  background-repeat: no-repeat;
  background-size: 4px 7px;
  opacity: 20%;
}

.breadcrumbs-link {
  text-decoration: none;
  line-height: 20px;
  color: inherit;
}

.breadcrumbs-link:hover {
  opacity: 60%;
}

.breadcrumbs-link:focus-visible {
  outline: 2px solid #af4fff;
}

.breadcrumbs-link:active {
  opacity: 30%;
}

.catalog-products {
  display: flex;
  flex-wrap: wrap;
  min-width: 1440px;
  background-color: #f0f0f0;
}

.catalog-sorting-container {
  width: 1160px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.catalog-filter {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  flex-direction: column;
  width: 320px;
  padding: 25px 60px;
  box-sizing: border-box;
}

.catalog-subtitle {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  color: #000000;
  text-transform: uppercase;
  text-align: left;
  margin-block: 0;
  padding-bottom: 23px;
  box-sizing: border-box;
}

.catalog-filter-group {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 200px;
  border: 0;
  margin-inline: 0;
  padding-inline: 0;
  padding-block: 0;
}

.catalog-filter-title {
  position: relative;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  color: #000000;
  padding-top: 12px;
  padding-bottom: 20px;
  margin: 0;
  padding-inline: 0;
  box-sizing: border-box;
}

.catalog-filter-title::before {
  position: absolute;
  content: "";
  width: 200px;
  height: 2px;
  background-color: #000000;
  top: 0;
  left: 0;
}

.range {
  position: relative;
  margin: 10px 0 23px;
}

.range-scale {
  position: relative;
  height: 2px;
  margin-bottom: 9px;
  background-color: #dcdcdc;
}

.range-bar {
  position: absolute;
  height: 2px;
  background-color: #000000;
}

.range-toggle {
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: #ebebeb;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
}

.range-toggle:hover {
  opacity: 50%;
}

.range-toggle:focus-visible {
  outline: none;
}

.range-toggle:focus-visible::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  outline: 2px solid #af4fff;
  outline-offset: 4px;
}

.range-toggle:active {
  background-color: #000000;
  opacity: 1;
}

.toggle-min {
  top: -8px;
  left: -9px;
}

.toggle-max {
  top: -8px;
  right: -9px;
}

.range-wrapper-inputs {
  position: absolute;
  display: flex;
  gap: 75px;
  left: -13px;
}

.catalog-filter-label {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 20px;
  opacity: 30%;
}

.catalog-filter-label:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.input-min {
  width: 12px;
  padding: 0 0 0 2px;
  font: inherit;
  text-align: center;
  background-color: transparent;
  border: none;
  -webkit-appearance: textfield;
          appearance: textfield;
}

.input-max {
  width: 38px;
  padding: 0 0 0 2px;
  font: inherit;
  text-align: center;
  background-color: transparent;
  border: none;
  -webkit-appearance: textfield;
          appearance: textfield;
}

.input-min:focus-visible,
.input-max:focus-visible {
  outline: 0;
  color: inherit;
  background-color: inherit;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}

.catalog-filter-list {
  margin-block: 0;
  list-style-type: none;
  padding-inline: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 17px;
}

.item-radio:first-child {
  margin-bottom: 20px;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
  font-size: 16px;
  line-height: 20px;
}

.control:hover {
  opacity: 60%;
}

.control:active {
  opacity: 30%;
}

.control:disabled {
  opacity: 10%;
}

.control-mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #000000;
  border-radius: 3px;
  box-sizing: border-box;
}

.control-mark:focus-visible {
  outline: 0;
}

.control-mark:focus-visible::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  outline: 2px solid #af4fff;
  outline-offset: 4px;
}

.control-input:disabled + .control-mark {
  border-color: #cccccc;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-image: url("../images/icon/icon_control_arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.control-input[type="checkbox"]:checked + .control-mark:focus-visible::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  outline: 2px solid #af4fff;
  outline-offset: 4px;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-image: url("../images/icon/icon_control_ellipse.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.control-input[type="radio"]:checked + .control-mark:focus-visible::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  outline: 2px solid #af4fff;
  outline-offset: 4px;
}

.control-label {
  text-align: left;
  color: #000000;
}

.show-button {
  width: 220px;
  padding: 10px 5px;
  background-color: transparent;
  box-sizing: border-box;
}

.show-button-text {
  position: relative;
  width: 210px;
  display: inline-block;
  margin-block: 0;
  padding: 0;
  z-index: 0;
}

.show-button-text::after {
  position: absolute;
  content: "";
  width: 220px;
  height: 8px;
  top: 0;
  bottom: 0;
  left: -5px;
  right: -5px;
  margin: auto;
  background-color: #ffe17f;
  z-index: -1;
}

.show-button:hover {
  background-color: #ffe17f;
}

.show-button:focus-visible {
  outline: 2px solid #af4fff;
}

.show-button:active {
  background-color: #ffcc33;
}

.show-button:active .show-button-text::after {
  opacity: 0;
}

.show-button:disabled {
  opacity: 30%;
}

.catalog-right-column {
  width: 840px;
}

.sorting-container {
  width: 840px;
  min-height: 70px;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 40px;
  box-sizing: border-box;
}

.sorting-subtitle {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  color: #000000;
  text-transform: uppercase;
  text-align: left;
  margin-block: 0;
  box-sizing: border-box;
  width: 147px;
  height: min-content;
  margin-right: 205px;
  padding: 5px 0;
}

.select-control {
  width: 142px;
  border: none;
  background-color: transparent;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  text-align: left;
  padding-right: 30px;
  margin-right: 205px;
  box-sizing: border-box;
  -webkit-appearance: none;
          appearance: none;
  background-image: url("../images/icon/icon_select.svg");
  background-repeat: no-repeat;
  background-position: right 10px top 12px;
}

.select-control:hover {
  opacity: 60%;
}

.select-control:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.select-control:active {
  opacity: 30%;
}

.select-control:disabled {
  opacity: 10%;
}

.button-up,
.button-down {
  width: 30px;
  height: 30px;
  background-color: transparent;
  padding: 10px 10px;
  box-sizing: border-box;
  color: #000000;
  border: none;
  cursor: pointer;
  background-image: url("../images/icon/icon_sorting.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.button-down {
  transform: rotate(180deg);
}

.button-up:hover,
.button-down:hover {
  opacity: 50%;
}

.button-up:focus-visible,
.button-down:focus-visible {
  border: none;
  outline: 2px solid #af4fff;
}

.button-up:active,
.button-down:active {
  opacity: 1;
}

.products-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 44px;
  width: 840px;
  margin: 0 auto;
  padding: 70px 40px 78px;
  background-color: #ffffff;
  box-sizing: border-box;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(2, 360px);
  gap: 40px;
  margin-block: 0;
  padding-inline: 0;
  list-style-type: none;
}

.product-card {
  position: relative;
}

.product-card:first-child,
.product-card:nth-child(2) {
  margin-bottom: 4px;
}

.overlay-card {
  position: absolute;
  content: "";
  width: 360px;
  height: 380px;
  top: 0;
  left: 0;
  background: rgba(240, 240, 240, 0.8);
  display: none;
}

.product-card-link {
  width: 360px;
  min-height: 452px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  color: #000000;
  text-decoration: none;
  margin-block: 0;
}

.product-card-image {
  width: 360px;
  height: 380px;
}

.button-product-card {
  position: absolute;
  content: "";
  top: 170px;
  left: 70px;
  width: 220px;
  padding: 10px 5px;
  text-align: center;
  box-sizing: border-box;
  display: none;
}

.button-product-text {
  display: inline-block;
  width: 210px;
  position: relative;
  margin-block: 0;
  z-index: 0;
  box-sizing: border-box;
}

.button-product-text::after {
  position: absolute;
  content: "";
  width: 220px;
  height: 8px;
  top: 0;
  bottom: 0;
  left: -5px;
  right: -5px;
  margin: auto;
  background-color: #ffe17f;
  z-index: -1;
}

.product-card:hover .overlay-card {
  display: block;
  background: rgba(240, 240, 240, 0.6);
}

.product-card:hover .button-product-card {
  display: block;
}

.product-card:hover > .product-card-link .product-card-container {
  opacity: 60%;
}

.product-card-link:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.product-card:active .overlay-card {
  display: block;
  background: rgba(240, 240, 240, 0.8);
}

.product-card:active .button-product-card {
  display: block;
}

.product-card:active > .product-card-link .product-card-container {
  opacity: 30%;
}

.product-card:active > a .button-product-text::after {
  background-color: #ffc700;
}

.product-card-container {
  width: 360px;
  display: flex;
  justify-content: space-between;
}

.product-card-title {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: -0.02em;
  width: 210px;
  margin-block: 0;
}

.product-card-price {
  width: 100px;
  font-weight: 400;
  line-height: 22px;
  text-align: right;
  margin-block: 0;
}

.product-new {
  position: absolute;
  content: "";
  width: 60px;
  height: 60px;
  border: 2px solid #000000;
  border-radius: 50%;
  top: 27px;
  right: 27px;
  box-sizing: border-box;
  background-color: inherit;
  opacity: 60%;
  display: none;
}

/* Класс добавляется к карточке товара, если товар новый.
.product-new {
  display: block;
}*/

.icon-new {
  position: absolute;
  content: "";
  width: 39px;
  height: 10px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.button-product {
  font-size: 16px;
  line-height: 19px;
  width: 760px;
  padding: 15px 39px;
  border: 3px solid #e5e5e5;
}

.button-product:hover {
  outline: 3px solid #000000;
  outline-offset: -3px;
}

.button-product:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.button-product:active {
  opacity: 30%;
}

.button-product:disabled {
  color: #e5e5e5;
  opacity: 30%;
}

.pagination {
  width: 760px;
  min-height: 71px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #ebebeb;
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
}

.item-back {
  width: 128px;
  margin-right: auto;
}

.item-forward {
  width: 141px;
  margin-left: auto;
}

.item-number {
  padding: 15px 0;
  box-sizing: border-box;
}

.pagination-link {
  display: block;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
}

/* Класс добавляется к ссылке пагинации в момент нахождения пользователя на данной странице.
.link-active {
  opacity: 30%;
}

.number-active {
  color: rgba(68, 68, 68, 0.6);
}*/

.pagination-number {
  width: 40px;
  height: 40px;
  color: rgba(68, 68, 68, 0.3);
  background-color: inherit;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 15px;
}

.pagination-number:hover {
  color: #444444;
}

.pagination-number:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.pagination-number:active {
  opacity: 10%;
}

.pagination-button {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: #ebebeb;
  color: #000000;
  width: 128px;
  min-height: 71px;
  padding: 25px;
}

.button-forward {
  width: 141px;
}

.pagination-button:hover {
  background-color: #dcdcdc;
  border: 0;
}

.pagination-button:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.pagination-button:active {
  opacity: 30%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
